body, button{
  /* background-color: #101418; */
  font-family: Montserrat,monospace!important;
}

.font-blue{
  color: rgb(2,48,106);
}
.border-blue{
  border-color: rgb(2,48,106) !important;
}

hr {
  border: none;
  border-radius: 25px;
  height: 10px;
  /* Set the hr color */
  color: rgb(2,48,106);  /* old IE */
  background-color: rgb(2,48,106);  /* Modern Browsers */
}
.bg-blue{
  background: rgb(2,48,106);
}

.bg-trans-blue{
  background: rgba(2, 49, 106, 0.197);
}

td, th{
  font-size: small;
}
